<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <!-- TODO: Rename this file to App.Config and edit these values. -->
  <appSettings>
    <add key="clientId" value=""/>
    <add key="clientSecret" value=""/>
    <add key="redirectUri" value=""/>
  </appSettings>
</configuration>