stages:
  - build
  - test
  - deploy

# Build job
Build:
  stage: build
  before_script:
    - "versioner -o ./SpotifyWebApi/SpotifyWebApi.csproj -c"
  script:
    - "dotnet build -c Release"
    - "dotnet pack -c Release -o ../Publish --no-build --include-symbols --include-source ./SpotifyWebApi/SpotifyWebApi.csproj"
  artifacts:
    untracked: true

# Test and coverage
Test:
  stage: test
  dependencies:
    - Build
  artifacts:
    paths:
     - "Test/TestResults/"
     - "coverage.json"
    reports:
      junit: "Test/TestResults/testResults.xml"
  script:
#    - "dotnet test Test -c Release --no-build --logger trx;LogFileName=testResults.trx"
    - "coverlet Test/bin/Release/netcoreapp2.1/SpotifyWebApiTest.dll --target 'dotnet' --targetargs 'test Test -c Release --no-build  --logger trx'"
  after_script:
    - "trx2junit Test/TestResults/testResults.trx"

# Coverage
.Coverage:
  stage: test
  dependencies:
    - Build
  artifacts:
    paths:
     - "coverage.json"
  script:
    - "coverlet Test/bin/Release/netcoreapp2.1/SpotifyWebApiTest.dll --target 'dotnet' --targetargs 'test Test -c Release --no-build  --logger trx'"

Deploy:
  stage: deploy
  dependencies:
    - Build
    - Test
  script:
    - "dotnet nuget push Publish/**/*.nupkg -s https://api.nuget.org/v3/index.json -k %NUGET_API_KEY%"
  artifacts:
    paths:
    - "./Publish"
    name: Nuget package
  only:
   - "master"
   - "tags"